<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Concesionario Caster</title>
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/frm_modif_tipo.css">
	<!--	<script src="js/hashearPass.js"></script>-->
</head>

<body>
	<header th:include="plantillas/plantillas.html::cabecera"></header>

	<nav th:include="plantillas/plantillas.html::menu"></nav>

	<main>
		<section>

			<h2>Modificar tipo de vehículo</h2> <br>

			<form th:action="@{/ModificarTipo}" th:object="${obj_tipo}" method="post">
				<input type="hidden" th:field="*{id}">

				<div class="form-group">
					<label>Nombre:</label>
					<input type="text" th:field="*{nombre}" required>
				</div>

				<br><br>

				<button type="submit">Guardar cambios</button>

			</form>

		</section>
	</main>

	<footer th:include="plantillas/plantillas.html::pie"></footer>
</body>

</html>