<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Concesionario Caster</title>
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/marcas.css">

	<!--	<script src="js/hashearPass.js"></script>-->
</head>

<body>
	<header th:include="plantillas/plantillas.html::cabecera"></header>

	<nav th:include="plantillas/plantillas.html::menu"></nav>

	<main>
		<br>
		<h1>Gestión de Marcas</h1>

		<!--		FORMULARIO INSERTAR		-->
		<h2>Nueva marca</h2>

		<form th:action="@{/InsertarMarca}" method="post" th:object="${obj_marca}">

			<div class="form-group">
				<label>Nombre:</label>
				<input type="text" th:field="*{nombre}" required>
			</div>


			<!--			ERROR-->
			<div th:if="${error}" style="color:red;">
				<p th:text="${error}"></p>
			</div>

			<button type="submit">Guardar</button>

		</form>

		<hr>


		<!--		TABLA MOSTRAR		-->

		<h2>Listado de marcas</h2>

		<table border="1">
			<thead>
				<tr>
					<!--					<th>ID</th>-->
					<th>Marca</th>
					<th>Acciones</th>
				</tr>
			</thead>


			<tbody>
				<tr th:each="lm : ${listaMarcas}">
					<!--					<td th:text="${lm.id}"></td>-->
					<td th:text="${lm.nombre}"></td>
					<td>
						<!--						MODIFICAR						-->
						<a th:href="@{/ModificarMarca(id=${lm.id})}">
							Modificar
						</a>

						<!--						ELIMINAR						-->
						<a th:if="${esAdmin}" th:href="@{/EliminarMarca(id=${lm.id})}"
							onclick="return confirm('¿Seguro que quieres eliminar esta marca?')">
							Eliminar
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</main>

	<footer th:include="plantillas/plantillas.html::pie"></footer>
</body>

</html>