w<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Raíces & Recetas</title>
	<link rel="stylesheet" th:href="@{styles/styles.css}">
	<link rel="stylesheet" th:href="@{styles/styles_form_ingr.css}">

	<script th:src="@{js/cheks.js}"></script>
</head>

<body>
	<header th:include="plantillas.html::cabecera"></header>

	<nav th:include="plantillas.html::menu"></nav>

	<main>

		<section>
			<h1>Modificar receta</h1>

			<form th:action="@{/ModificarReceta}" method="post" th:object="${obj_receta}">

				<input type="hidden" th:field="*{id}">

				<label>Nombre:</label>
				<input type="text" th:field="*{nombre}" required><br><br>

				<label>Tiempo:</label>
				<input type="text" th:field="*{tiempo}" required><br><br>

				<label>País:</label>
				<select th:field="*{pais.id}">
					<option th:each="elem : ${listaPaises}" th:value="${elem.id}" th:text="${elem.nombre}">
					</option>
				</select><br><br>

				<label>Dificultad:</label>
				<select th:field="*{dificultad.id}">
					<option th:each="elem : ${listaDificultades}" th:value="${elem.id}" th:text="${elem.nombre}">
					</option>
				</select><br><br>

				<button type="submit">Continuar</button>
			</form>


		</section>
	</main>

	<footer th:include="plantillas.html::pie"></footer>
</body>

</html>