<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Disco Stu</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>

<body>

	<header th:include="plantillas.html::cabecera"></header>

	<nav th:include="plantillas.html::menu"></nav>

	<main>
		<section>
			<h1 th:text="${mensaje}"></h1>

			<form th:action="@{/AgregarBandaCVReal}" method="POST" th:object="${obj_banda}">

				<!-- DISCO -->
				<input type="hidden" name="titulo" th:value="${obj_disco.titulo}" />
				<input type="hidden" name="anho" th:value="${obj_disco.anho}" />
				<input type="hidden" name="numCanciones" th:value="${obj_disco.numCanciones}" />
				<input type="hidden" name="precio" th:value="${obj_disco.precio}" />
				
				<!-- BANDA NEW -->
			    <input type="hidden" th:field="*{id}" />

			    <div class="campo">
			        <label>Nombre:</label>
			        <input type="text" th:field="*{nombre}" required />
			    </div>

			    <div class="campo">
			        <label>Número de integrantes:</label>
			        <input type="number" th:field="*{numIntegrantes}" min="1" required />
			    </div>

			    <div class="campo">
			        <label>Estilo:</label>
			        <select th:field="*{estilo.id}">
			            <option th:each="elem : ${listaEstilos}" th:value="${elem.id}" th:text="${elem.nombre}">
			            </option>
			        </select>
			    </div>

			    <div class="campo">
			        <label>País:</label>
			        <select th:field="*{pais.id}">
			            <option th:each="elem : ${listaPaises}" th:value="${elem.id}" th:text="${elem.nombre}">
			            </option>
			        </select>
			    </div>

				<input type="text" name="origen" th:value="${origen}" hidden readonly />
				<br>
				
			    <input type="submit" value="Insertar banda" />
			</form>
		</section>
	</main>

	<footer th:include="plantillas.html::pie"></footer>
</body>

</html>