/* Centrar contenido vertical y horizontal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}

/* ----------- LOGO ----------- */
.logo-container{
    margin-bottom: 1.5rem;
    text-align: center;
}

.logo{
    width: 320px;
    height: auto;
}

/* ----------- CONTENEDOR ----------- */
#contenedor{
    text-align: center;
}

/* ----------- TEXTOS ----------- */
p {
    margin-bottom: 1rem;
}

span{
    font-family: inherit;
    font-weight: 800;
    color: #ff4d6d;
}

/* ----------- BOTON ----------- */
#pagInicio{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #2F68D8;
    color: #fff;
    transition: background-color 0.3s, transform 0.1s, color 0.3s;
}

#pagInicio:hover {
    transform: scale(1.02);
    background-color: #3A7DFF;
}