/* ======== CONTENEDOR PRINCIPAL ======== */
body{
    background-color: #F5F5F7;
}

/* ======== TITULO ======== */
h1 {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 20px;
}

/* ======== FORMULARIO ======== */
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #00000022;
}

/* Etiquetas */
form label {
    display: block;
    margin-bottom: 6px;
    margin-top: 15px;
    font-family: inherit;
}

/* inputs, select, textarea */
form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: inherit;
    box-sizing: border-box;
}

/* textarea */
form textarea {
    height: 100px;
    resize: none;
}

/* Focus */
form input:focus,
form select:focus,
form textarea:focus {
    font-size: 16px;
    border-color: #3A7DFF;
    outline: none;
    box-shadow: 0 0 5px rgba(58, 125, 255, 0.5);
}

/* ======== BOTON ======== */
input[type="submit"] {
    background-color: #2F68D8;
    color: #fff;
    margin-top: 15px;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 600;
}

/* Hover */
input[type="submit"]:hover {
    background-color: #3A7DFF;
}

/* ------------------ RESPONSIVE ------------------ */
@media screen and (max-width: 900px) {
    input[type="submit"] {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 600px) {
    input[type="submit"] {
        padding: 6px 10px;
    }
}

@media screen and (max-width: 480px) {
    input[type="submit"] {
        font-size: 12px;
        padding: 4px 8px;
    }
}