/* ======== CONTENEDOR PRINCIPAL ======== */
body{
    background-color: #F5F5F7;
}

/* ======== TITULO ======== */
h1 {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 20px;
}

/* ======== GRAFICOS ======== */
.chart-container{
    position: relative;
    width: 90%;
    max-width: 950px;
    height: 420px;
    margin: auto;
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 4px 10px #0002;
}

canvas{
    display: block;
    max-width: 100%;
    height: 100% !important;
    height: 100% !important;
}


/* ------------------ RESPONSIVE ------------------ */
@media(max-width:768px){
    .chart-container{
        height:320px;
        padding:18px;
    }
    
    h1{
        font-size: 18px;
    }
}

@media(max-width:480px){
    .chart-container{
        height:250px;
        padding:15px;
    }

    h1{
        font-size: 16px;
    }
}